$primaryLighterColor:#B2EBF2;
$primaryColor:#00BCD4;
$primaryDarkColor:#0097A7;
$primaryDarkerColor:#00838F;
$primaryTextColor:#ffffff;

$accentColor:$primaryColor;
$accentDarkerColor:$primaryDarkColor;
$accentColorText:$primaryTextColor;

$containerHeaderBgColor:#eeeeee;
$containerHeaderBorder:1px solid #e0e0e0;
$containerHeaderTextColor:#212121;
$containerHeaderIconColor:#757575;
$containerHeaderIconHoverColor:#212121;

$clickableContainerHeaderBgColor:#eeeeee;
$clickableContainerHeaderBorder:1px solid #e0e0e0;
$clickableContainerHeaderTextColor:#212121;
$clickableContainerHeaderIconColor:#757575;

$clickableContainerHeaderHoverBgColor:#e0e0e0;
$clickableContainerHeaderHoverBorder:1px solid #bdbdbd;
$clickableContainerHeaderHoverTextColor:#212121;
$clickableContainerHeaderHoverIconColor:#757575;

$clickableContainerHeaderActiveBgColor:$primaryColor;
$clickableContainerHeaderActiveBorder:1px solid $primaryColor;
$clickableContainerHeaderActiveTextColor:$primaryTextColor;
$clickableContainerHeaderActiveIconColor:$primaryTextColor;

$clickableContainerHeaderActiveHoverBgColor:$primaryDarkColor;
$clickableContainerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$clickableContainerHeaderActiveHoverTextColor:$primaryTextColor;
$clickableContainerHeaderActiveHoverIconColor:$primaryTextColor;

@import '../../sass/theme/_theme';
