$primaryLighterColor:#FFECB3;
$primaryColor:#FFC107;
$primaryDarkColor:#FFA000;
$primaryDarkerColor:#FF8F00;
$primaryTextColor:#000000;

$accentColor:#8BC34A;
$accentDarkerColor:#689F38;
$accentColorText:#ffffff;

$containerHeaderBgColor:$primaryColor;
$containerHeaderBorder:1px solid $primaryColor;
$containerHeaderTextColor:$primaryTextColor;
$containerHeaderIconColor:$primaryLighterColor;
$containerHeaderIconHoverColor:$primaryTextColor;

$clickableContainerHeaderBgColor:$primaryColor;
$clickableContainerHeaderBorder:1px solid $primaryColor;
$clickableContainerHeaderTextColor:$primaryTextColor;
$clickableContainerHeaderIconColor:$primaryTextColor;

$clickableContainerHeaderHoverBgColor:$primaryDarkColor;
$clickableContainerHeaderHoverBorder:1px solid $primaryDarkColor;
$clickableContainerHeaderHoverTextColor:$primaryTextColor;
$clickableContainerHeaderHoverIconColor:$primaryTextColor;

$clickableContainerHeaderActiveBgColor:$accentColor;
$clickableContainerHeaderActiveBorder:1px solid $accentColor;
$clickableContainerHeaderActiveTextColor:$accentColorText;
$clickableContainerHeaderActiveIconColor:$accentColorText;

$clickableContainerHeaderActiveHoverBgColor:$accentColor;
$clickableContainerHeaderActiveHoverHoverBorder:1px solid $accentColor;
$clickableContainerHeaderActiveHoverTextColor:$accentColorText;
$clickableContainerHeaderActiveHoverIconColor:$accentColorText;

@import '../../sass/theme/_theme';
