$primaryLighterColor:#FFE0B2;
$primaryColor:#FF9800;
$primaryDarkColor:#F57C00;
$primaryDarkerColor:#EF6C00;
$primaryTextColor:#ffffff;

$accentColor:#03a9f4;
$accentDarkerColor:#0288D1;
$accentColorText:#ffffff;

$containerHeaderBgColor:$primaryColor;
$containerHeaderBorder:1px solid $primaryColor;
$containerHeaderTextColor:$primaryTextColor;
$containerHeaderIconColor:$primaryLighterColor;
$containerHeaderIconHoverColor:$primaryTextColor;

$clickableContainerHeaderBgColor:$primaryColor;
$clickableContainerHeaderBorder:1px solid $primaryColor;
$clickableContainerHeaderTextColor:$primaryTextColor;
$clickableContainerHeaderIconColor:$primaryTextColor;

$clickableContainerHeaderHoverBgColor:$primaryDarkColor;
$clickableContainerHeaderHoverBorder:1px solid $primaryDarkColor;
$clickableContainerHeaderHoverTextColor:$primaryTextColor;
$clickableContainerHeaderHoverIconColor:$primaryTextColor;

$clickableContainerHeaderActiveBgColor:$accentColor;
$clickableContainerHeaderActiveBorder:1px solid $accentColor;
$clickableContainerHeaderActiveTextColor:$accentColorText;
$clickableContainerHeaderActiveIconColor:$accentColorText;

$clickableContainerHeaderActiveHoverBgColor:$accentColor;
$clickableContainerHeaderActiveHoverHoverBorder:1px solid $accentColor;
$clickableContainerHeaderActiveHoverTextColor:$accentColorText;
$clickableContainerHeaderActiveHoverIconColor:$accentColorText;

@import '../../sass/theme/_theme';
